*{
    font-family: "Figtree", sans-serif;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-content{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    box-shadow: -11px 9px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: hsl(47, 88%, 63%);
}
.card{
    padding: 10px 15px;
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 18vw;
    box-shadow: 10px 9px 9px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
img{
    border-radius: 15px;
    width: 100%;
}
.p1{
    display: inline-block;
    padding: 8px;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    border-radius: 10px;
}
.publish{
    font-size: 14px;
}
.author{
    display: flex;
    align-items: center;
}
.author img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.name{
    font-size: 14px;
    font-weight: bold;
}